# ----------------------------
# Настройки Envoy
# ----------------------------

# Порт для административного интерфейса Envoy (доступен только локально)
ADMIN_PORT=${ENVOY_ADMIN_PORT}

# Основной порт, через который Envoy проксирует внешние запросы
EXTERNAL_PORT=${ENVOY_EXTERNAL_PORT}