💳 **ЗАКАЗ ОПЛАЧЕН**

🆔 **ID события:** {{.EventUUID}}
📦 **ID заказа:** {{.OrderUUID}}
👤 **ID пользователя:** {{.UserUUID}}
💵 **Способ оплаты:** {{.PaymentMethod}}
🔖 **ID транзакции:** {{.TransactionUUID}}
