services: # Здесь описываются контейнеры, необходимые для Payment-сервиса
  # Payment gRPC сервер 
  payment-service:
    build:
      context: ../../..
      dockerfile: deploy/docker/payment/Dockerfile
    container_name: payment-service
    ports:
      - "${EXTERNAL_GRPC_PORT}:${GRPC_PORT}"
    healthcheck:
      test: ["CMD", "/bin/grpc-health-probe", "-addr=localhost:50050"]
    restart: unless-stopped

    networks:
      - microservices-net
  

networks: # Определение используемой сети
  microservices-net:
    external: true
    # Мы не создаём новую сеть, а подключаемся к внешней, общей для всех микросервисов
    # Её должен создать docker-compose.yml или вручную: docker network create microservices-net
